<B>hello world</b>
<div>
{{message}}
</div>

<select ng-model="colour">
	<option ng-repeat="c in colours" value="{{c}}">{{c}}</option>
</select>

<svg 	ng-attr-height="{{size.height}}" 
		ng-attr-width="{{size.width}}">
<!--
	<circle ng-repeat="circle in circles" 
			ng-attr-cx="{{circle.x}}"
			ng-attr-cy="{{circle.y}}"
			ng-attr-r="{{circle.r}}">
	</circle>
	-->
	<path ng-repeat="p in paths" ng-attr-d="{{p}}"  ng-attr-stroke="{{colour}}" stroke-width="3" fill="none" />
</svg>

<button ng-click="addpath()">Add Path</button>
<button ng-click="populateGraph(0)">Sin Graph</button>